.big{
    height: 50px;
}
.small{
    height: 10px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 1000px;
}
tr{
    border: 1px solid gray;
}
button{
    background-color: blue;
    color: white;
}
.th{
    background-color: blue;
    color: white;
}